@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #010409 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.spinner {
    border: 2px solid rgba(33, 31, 33, 0.208);
    border-left-color: #002144;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.h-h{
    min-height: calc(100vh - 64px);
}